html, body {
    font-family: Arial,sans-serif;
    font-size: 20px;
    height: 200px;
    width: 700px;
    letter-spacing: 0.5px;
    line-height: 1.4;
    overflow: hidden;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #FFF;
}
#main{
    height: 200px;
    width: 700px;
    background-color: #000;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#canvas-container{
    flex: 0 1 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: #77D6E1;
    display: block;
}

/* Don't highlight anything on click-and-drag. */
:not(input):not(textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#round{
    font-size: 24;
}
#match{
    font-weight: 700;
}
.subtext{
    font-weight: 400;
}